    body {
      font-family: "Helvetica", "ヒラギノ角ゴ ProN W3";
	  font-size: 24pt;
      background-color: #333333;
      color: #dddddd
    }
    
    .icon_area img{
      width: 15em;
      display: block;
	  margin-top: 5em;
      margin-left: auto;
      margin-right: auto;
    }
	.download_area img{
      width: 8em;
      display: block;
      margin-left: auto;
		margin-right: auto;
		margin-bottom: 5em;
    }

    dl  {
      padding: 10px 20px 5px 10px;
      line-height: 1.4em;
    }
    dt {
      font-size: 1.3em;
      font-weight: bold; 
      margin-top: 2vmax;
      margin-bottom: 0.3em;
	  text-align:center;
    }
	dd {
 	   font-size: 1.0em;
       margin-bottom: 0.5em;
       display: list-item;
       list-style-type: none;
       line-height: 150%;
 	   text-align:center;

    }